<p id="notice"><%= notice %></p>

<h1>Listing Blood Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_statuses.each do |blood_status| %>
      <tr>
        <td><%= blood_status.kind %></td>
        <td><%= blood_status.character %></td>
        <td><%= link_to 'Show', blood_status %></td>
        <td><%= link_to 'Edit', edit_blood_status_path(blood_status) %></td>
        <td><%= link_to 'Destroy', blood_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood status', new_blood_status_path %>
